[Desktop Entry]
Name=Dark Snake Game
Comment=Starte Dark Snake im Terminal
Exec=complete-snake-game/start_game.sh
Icon=complete-snake-game/assets/graphics/titel2.png
Terminal=true
Type=Application
Categories=Game;
